USE [master]
GO
/****** Object:  Database [delphi]    Script Date: 08.04.2020 17:54:43 ******/
CREATE DATABASE [delphi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'delphi', FILENAME = N'C:\Users\barabas\delphi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'delphi_log', FILENAME = N'C:\Users\barabas\delphi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [delphi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [delphi]
GO
USE [delphi]
GO
/****** Object:  User [test]    Script Date: 08.04.2020 17:54:43 ******/
CREATE USER [test] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [test]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 08.04.2020 17:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[name] [nchar](50) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[boss_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 08.04.2020 17:54:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[name] [nchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history]    Script Date: 08.04.2020 17:54:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[username] [nchar](10) NOT NULL,
	[logged_at] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD FOREIGN KEY([boss_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
USE [master]
GO
